<footer class="border-t bg-white pb-[calc(env(safe-area-inset-bottom)+0.25rem)]">
  <nav class="container mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
    <ul class="grid grid-cols-4 gap-1">
      <li><%= footer_nav_link_to home_path,t(".home"), icon: "home" %></li>
      <li><%= footer_nav_link_to records_path || "#",t(".record"),icon: "record" %></li>
      <li><%= footer_nav_link_to groups_path  || "#",t(".group"),icon: "group" %></li>
      <li><%= footer_nav_link_to mypage_path  || "#",t(".my_page"),icon: "my-page" %></li>
    </ul>
  </nav>
</footer>
